:root {
  --text: #434455;
  --dark: #2e2f42;
  --white: #ffffff;
  --title-color: #2e2f42;
  --light: #f4f4fd;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --white-background: #ffffff;
  --light-background: #f4f4fd;
  --accent: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/************************* HEADER *************************/
.link {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid var(--accent);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--dark);
}

.header-menu {
  display: flex;
  gap: 40px;
}

.list {
  list-style: none;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0;
  display: block;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--pressed-state);
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--pressed-state);
}

/************************* SECTION 1 *************************/

.hero {
  background-color: var(--dark);
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-brand);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/************************* SECTION 2 *************************/

.features {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
}

/************************* SECTION 3 *************************/

.about-subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.about {
  padding-bottom: 120px;
}

.about-subtitle {
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-img {
  width: calc((100% - 48px) / 3);
}

/************************* SECTION 4 *************************/

.our-team {
  background-color: var(--light-background);
  padding: 120px 0;
}

.team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--white-background);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 32px 16px;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

/************************* FOOTER *************************/

.footer {
  background-color: var(--title-color);
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--light);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  max-width: 264px;
}

/************************* Portfolio *************************/

/************************* SECTION 1 *************************/

.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.menu-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light-background);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--white);
  background-color: var(--pressed-state);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
